flows.json
[{"id":"e14dc4e.8121938","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"60f0c67c.4e1a18","type":"ibmiot in","z":"e14dc4e.8121938","authentication":"apiKey","apiKey":"75e5a184.d644a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"3007","applicationId":"","deviceType":"IOTDEVICE","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":60,"wires":[["1b1bc7c0.981bc8"]]},{"id":"19eebfcf.6eb91","type":"debug","z":"e14dc4e.8121938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":60,"wires":[]},{"id":"1b1bc7c0.981bc8","type":"function","z":"e14dc4e.8121938","name":"temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":60,"wires":[["19eebfcf.6eb91","571282e3.f031dc","1d0f7e85.9322e1","4a83a4e1.a1b5fc"]]},{"id":"571282e3.f031dc","type":"switch","z":"e14dc4e.8121938","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"96.5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":100,"wires":[["3fe7f1f8.ad638e"]]},{"id":"3fe7f1f8.ad638e","type":"http request","z":"e14dc4e.8121938","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=PbCJWL1uHMwsonlkF2Tjxirz8EZdeqy6D3IKQ0p7XhmOcSRGfYldoTiazEOFfcA8UqPH3SWJ7ZyBXgR0&message=Baby%20is%20Suffering%20from%20FEVER&language=english&route=q&numbers=9390223425","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":100,"wires":[["d96b1312.19726"]]},{"id":"d96b1312.19726","type":"debug","z":"e14dc4e.8121938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":120,"wires":[]},{"id":"1d0f7e85.9322e1","type":"switch","z":"e14dc4e.8121938","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"100","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":160,"wires":[["323e4d89.62d1f2"]]},{"id":"323e4d89.62d1f2","type":"http request","z":"e14dc4e.8121938","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=PbCJWL1uHMwsonlkF2Tjxirz8EZdeqy6D3IKQ0p7XhmOcSRGfYldoTiazEOFfcA8UqPH3SWJ7ZyBXgR0&message=Baby%20is%20Suffering%20from%20HIGH%20FEVER&language=english&route=q&numbers=9390223425","tls":"","persist":false,"proxy":"","authType":"","x":690,"y":160,"wires":[["d96b1312.19726"]]},{"id":"dd6e0185.7fcf9","type":"ui_button","z":"e14dc4e.8121938","name":"CRYING","group":"ec0302cc.a045d","order":2,"width":0,"height":0,"passthru":false,"label":"CRYING","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"CRYING\"}","payloadType":"json","topic":"topic","topicType":"msg","x":120,"y":240,"wires":[["7441d2f4.70b96c","1795dbfd.69d464","6b8cc6db.43f468"]]},{"id":"7441d2f4.70b96c","type":"debug","z":"e14dc4e.8121938","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":320,"wires":[]},{"id":"6b8cc6db.43f468","type":"ibmiot out","z":"e14dc4e.8121938","authentication":"apiKey","apiKey":"75e5a184.d644a","outputType":"cmd","deviceId":"3007","deviceType":"IOTDEVICE","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":240,"wires":[]},{"id":"29c30499.650b6c","type":"ui_button","z":"e14dc4e.8121938","name":"STOPPED CRYING","group":"ec0302cc.a045d","order":5,"width":0,"height":0,"passthru":false,"label":"STOPPED CRYING","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"STOPPED\"}","payloadType":"json","topic":"topic","topicType":"msg","x":180,"y":380,"wires":[["7441d2f4.70b96c","6b8cc6db.43f468"]]},{"id":"dd08e2fc.e1a0b","type":"ui_switch","z":"e14dc4e.8121938","name":"","label":"SWING ","tooltip":"","group":"ec0302cc.a045d","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":200,"y":320,"wires":[["a6f30dbe.8bf66"]]},{"id":"4a83a4e1.a1b5fc","type":"ui_gauge","z":"e14dc4e.8121938","name":"TEMPERATURE OF BABY","group":"ec0302cc.a045d","order":1,"width":0,"height":0,"gtype":"compass","title":"BABY TEMP","label":"degree celsius","format":"{{value}}","min":"96","max":"110","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":20,"wires":[]},{"id":"a6f30dbe.8bf66","type":"ui_slider","z":"e14dc4e.8121938","name":"SPEED","label":"SPEED","tooltip":"","group":"ec0302cc.a045d","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"x":430,"y":320,"wires":[["7441d2f4.70b96c"]]},{"id":"1795dbfd.69d464","type":"switch","z":"e14dc4e.8121938","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":140,"y":280,"wires":[["dd08e2fc.e1a0b"]]},{"id":"75e5a184.d644a","type":"ibmiot","name":"BABY","keepalive":"60","serverName":"8s8b0k.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ec0302cc.a045d","type":"ui_group","name":"MONITOR","tab":"9c77055f.8116d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c77055f.8116d8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]